*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    height: 100vh;
     background: linear-gradient(135deg,#06066c9c,#37fd12);
    text-align: center;
    justify-content: center;
    display: flex;
    object-fit: cover;
    


}
.container{
    background-color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 20px;

}

.group-element{
    gap: 20px;
    margin-bottom:20px ;
    align-items: center;
    font-weight: bold;

    

}

.group-element button{
    width: 200px;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}
.group-element button:hover{
    background-color: #37fd12;
    opacity: 0.8;
}

.container h3{
    margin-bottom:20px ;

}
.group-element input{
    padding: 5px;
    border-radius: 10px;
    border-color: red;

}

.section{
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
}

.section a{
    color: blue;
    
}
